<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.google.com"><em>Ruby on Rails Tutorial</em></A> is a
    <a href="http://www.google.com">book</a> and
    <a href="http://www.google.com">Screencast series</a>
    to teach web development with
    <a href="http://www.google.com">Ruby on Rails</a>.
    This is the sample application for the tutorial.
</p>
