<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the ruby on Rails Tutorial at the <a href="http://www.google.com/#help">Rails Turorial help section</a>.
  To get help on this sample app, see the <a href="http://wwww.google.com"><em>Ruby on Rails Tutorial</em>
    book</a>.
</p>
